@charset "UTF-8";


@font-face {
    font-family: 'Cordel';
    src: url(Fontes/Passion_One/PassionOne-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url(Fontes/Sriracha/Sriracha-Regular.ttf) format('truetype');
}

:root{
    --fonte1: 'Passion One', Verdana, Tahoma, sans-serif ;
    --fonte2: 'Sriracha', Verdana, Tahoma, sans-serif;
    --fonte3: Verdana, Tahoma, sans-serif;
}

body{
    margin: 0px;
}

h1{
    font-family: 'Cordel', Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: bold;

    padding-top: 50px;
    margin: 0px;
}

p{
    padding-left: 20px;
    font-size: 53px;
    line-height: 107px;
    font-family: var(--fonte2);
}

a{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

header{
    background-color: black;
    color: whitesmoke;

    text-align: center;

    margin: 0px 0px 50px 0px;
}

header > p{
    color: white;

    font-family: var(--fonte3);
    font-size: 25px;

    margin:  10px 0px 0px 0px;
    padding-bottom: 50px;
}

p.fundo{
    background-color: rgba(0, 0, 0, 0.301);
}

#img1{
    background-image: url('Imagens/background001.jpg');
}

#img2{
    background-image: url('Imagens/background002.jpg');
}